.section {
  display: flex;
  flex-direction: column;
}

.section-controller {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--c-lightBlue);
  height: 50px;
  padding: 1rem;
  border-bottom: 1px solid var(--c-academyGray);
  box-sizing: border-box;
  font-size: 18px;
  text-transform: capitalize;
}

.section.open .section-controller > :nth-child(2) {
  transform: rotate(90deg);
}

.section-content-wrapper {
  border-bottom: 1px solid var(--c-academyGray);
}

.section-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
  gap: 1rem;
}

.section-content .subsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-content .subsection .subsection-title {
  position: sticky;
  top: 50px;

  text-transform: capitalize;
  box-sizing: border-box;
  border-bottom: 1px solid var(--c-gray50);
  margin: 0 -1rem;
  padding: 0.5rem 1rem;
  background: white;
  color: var(--c-academyGray);
  font-weight: 700;
}

.section-content-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--c-academyGray);
  padding-top: 1rem;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: capitalize;
  font-weight: 700;
}

.selection-details {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.selection-controls {
  display: flex;
  gap: 1rem;
}

.selection-controls button {
  flex: 1; 
  padding: 0.5rem;
  background: var(--c-brightBlue);
  border-radius: 4px;
  border: 1px solid var(--c-academyBlue);
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}